body {
    font-family: Arial;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 14vh;
}

h1 {
    margin-bottom: 40px;
}

.myproject{
    height: 18px; 
    width: 400px; 
    overflow: hidden;
    white-space: nowrap;
 }

.mystatus{
    height: 18px; 
    width: 100px; 
    overflow: hidden;
    white-space: nowrap;
 }

.trash{
    height: 18px; 
    width: 17px; 
    overflow: hidden;
    white-space: nowrap;
 }

.mytickets{
    height: 18px; 
    width: 100px; 
    overflow: hidden;
    white-space: nowrap;
 }

.flex {
    display: flex;
}

input{
    width: 75%;
    border: 1px solid #d3d3d3;
    border-right: none;
    outline: none;
    padding: 10px;
}

input:focus {
    border: 1px solid #8a60eB
}

button {
    width: 25%;
    border: none;
    color: white;
    background: #8A60EB;
    cursor: pointer;
    font-size: 16px;
}

table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table td, tableth {
    border: 1px solid #d3d3d3;
    padding: 8px;
}

table td:nth-child(2), table td:nth-child(3) {
    cursor:pointer;
}

.fa-trash {
    color: #505050;
    font-size:18px;
    display: table-call !important;
    text-align: center;
}

.finished {
    color: green
}

.in-progress {
    color: rgb(133, 198, 219)
}

.todo {
    color:red
}